/**
 * @name CyberFox
 * @author bowman#3621
 * @description Theme based on Akame's with conceptualized server-side updating of background with a new cyber threat map state everytime discord reloads
 * @version 1
 */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


:root {
--font: 'VT323', monospace;
--background:					url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/_res/background.jpg);

}

#app-mount .app-2rEoOp {
  background-color: transparent;
  background-size: cover;
  background: url('https://a-z-animals.com/media/2021/10/Flowerhorn-header-2-400x300.jpg');

}
 /* *This is my IP. I request for you to use integrity and not to attack my main internet connection without prior authorization for pen testing, I am figuring out how to obscure it or I will implement a IPS to mitigate threats. In the mean time expect a LOT of unintentional downtime by skids.* */



