/**
 * @name CyberFox
 * @author bowman#3621
 * @description Theme based on Akame's with conceptualized server-side updating of background with a new cyber threat map state everytime discord reloads
 * @version 1
 */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


:root {
--font: 'VT323', monospace;

}

#app-mount .app-2rEoOp {
  background-color: transparent;
  background-size: cover;
  background: url('https://a-z-animals.com/media/2021/10/Flowerhorn-header-2-400x300.jpg');

}
 /* *This is my IP. I request for you to use integrity and not to attack my main internet connection without prior authorization for pen testing, I am figuring out how to obscure it or I will implement a IPS to mitigate threats. In the mean time expect a LOT of unintentional downtime by skids.* */

.executedCommand-2GE3w2, .repliedMessage-VokQwo, .threadMessageAccessory-1pYyA- {
  margin-left: 17px;
}
.repliedTextPreview-2NBljf {
  position: relative;
  top: -1px;
}

.settingCard-3w2mVL.active-1ytUzX {
  background: rgba(0, 0, 0, .7);
}

.settingCard-3w2mVL {
  background: rgba(0, 0, 0, .7);
  border-radius: 5px;
}

.cardFolder-28dwxo {
  background-color: transparent;
}

.tutorialIcon-3f1miQ {
  background-color: #2bd436;
  color: green;
  border-radius: 7px;
}

.tutorial-3w5I9h {
  background-color: rgba(0, 0, 0, .26);
}

.sourceThumbnail-27dolk {
  background-color: transparent;
}

.tile-2w4k5N:hover .sourceThumbnail-27dolk,
.sourceThumbnail-27dolk.selected-1nOkyc {
  box-shadow: inset 0 0 0 2px #2bd436;
}

.emptyChannelIcon-cc932w {
  border-radius: 7px;
  background-color: #2bd436;
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
  color: green;
  background-color: transparent;
  border: 1px solid #4f545c;
}

.wrapper-39oAo3 {
  background-color: rgba(0, 0, 0, .23);
}

.wrapper-2Gsate {
  background-color: transparent;
}
.selected-3xBBKs, .selected-3xBBKs:hover {
  background-color: rgba(0, 0, 0, .23);
}

.selected-3xBBKs .icon-2VCx8O, .selected-3xBBKs:hover .icon-2VCx8O, .icon-2VCx8O {
  color: green;
}

.theme-dark .item-3T2z1R {
  border-color: transparent;
}

.item-3T2z1R:last-child {
  border-radius: 0 5px 5px 0;
}

.selectorButton-EEUWed {
  background-color: rgba(155, 39, 66, .3);
}

#app-mount .selectorButtonSelected-t5V9On {
  background-color: #2bd436;
}

.selectorButton-EEUWed:not(.selectorButtonPremiumRequired-mKMbIu):hover {
  background-color: rgba(155, 39, 66, .6);
}

.card-2Mz_4z {
  border-radius: 5px;
  color: green;
  border: 1px solid #2bd436;
  background-color: rgba(155, 39, 66, .3);
}
.border-3dQmSY.speaking-WDn8Wm {
  box-shadow: inset 0 0 0 2px #2bd436, inset 0 0 0 3px #000;
}
.background-ujHpbY {
  background-color: transparent !important;
}
.tile-2naSqK {
  background-color: transparent;
}
.card-3RzMcx {
  background-color: rgba(0, 0, 0, .30) !important;
}

.theme-dark .activeButton-rvKcqq, .theme-dark .activeButton-rvKcqq:hover {
 background-color:#2bd436;
}

.pageButton-2ruNwd:hover {
  color: green;
  background-color: #ad3950;
}

.roundButton-CEHyUp {
  border-radius: 4px;
}

.button-F9qN4n {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .17) !important;
}
.customItem-a8hq58 {
  border-color: transparent;
  color: green;
}

.option-3KoAJB.focused-1T6PE5 {
  color: green; 
  background-color:#2bd436;
}

.item-26Dhrx:hover:not([aria-checked=true]) {
  background-color: transparent;
  border: 2px solid #2bd436;
  color: green;
}

.theme-dark .barBase-1c2Rfb {
  background-color:rgba(0, 0, 0, .34);
  opacity: .75;
}

.layers-3iHuyZ {
 background: url('https://a-z-animals.com/media/2021/10/Flowerhorn-header-2-400x300.jpg');
}

.standardSidebarView-3F1I7i,
.sidebarRegionScroller-3MXcoP,
.contentRegion-3nDuYy,
.bg-h5JY_x,
.theme-dark .layer-3QrUeG,
.contentRegionScroller-26nc1e,
.scroller-305q3I {
  background-color: transparent;
}

.theme-dark .children-19S4PO:after {
  background: url('https://a-z-animals.com/media/2021/10/Flowerhorn-header-2-400x300.jpg');
}

.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
  background-color: rgba(0, 0, 0, .33);
  color: #fff;
}

.protip-1b9XPC {
  border-top: none;
}
.autocompleteQuerySymbol-1kyGZ5 {
  background-color: #78152E;
}

.sidebar-CFHs9e {
  width: 318px;
  padding: 60px 56px 60px 60px;
}

.theme-dark .closeButton-1tv5uR {
  border-color: transparent;
}

.closeButton-1tv5uR {
  border-radius: 7px;
}

.theme-dark .closeButton-1tv5uR:hover {
  background-color: rgba(0, 0, 0, .46);
}

.theme-dark .keybind-KpFkfr {
  color: green;
}

.input-cIJ7To {
  border-radius: 6px;
  color: green;
  background-color: rgba(0, 0, 0, .26);
  border: none;
}

.input-cIJ7To:hover {
  background-color: rgba(0, 0, 0, .46);
}

.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
  border: 1px solid #2bd436;
  background-color: rgba(0, 0, 0, .76);
}

.theme-dark .root-1gCeng {
  background-color: rgba(0, 0, 0, .76);
  box-shadow: none;
}

.colorHeaderSecondary-3Sp3Ft {
  color: green;
}

.backdrop-1wrmKB, .backdropWithLayer-3_uhz4 {
  background-color: rgba(0, 0, 0, .26) !important;
  opacity: .4 !important;
}

.h5-18_1nd,
.description-3_Ncsb, .labelDescriptor-1PqHgD,
.colorHeaderPrimary-26Jzh- {
  color: green;
}


.theme-dark .divider-3wNib3 {
  border: none;
}

.input--jS-j2 {
  background-color: transparent;
}

.container-UC8Ug1 {
  border-radius: 4px;
  border: 1px solid #2bd436;
  background-color: rgba(0, 0, 0, .4);
}

.avatarUploaderInner-3UNxY3 {
  border-radius: 6px;
  background-color: #2bd436;
}

.avatarUploaderIndicator-2G-aIZ {
  border-radius: 6px;
}

.css-6fzn47-control,
.css-gvi9bl-control {
  background-color: rgba(0, 0, 0, 0.4);
  border-color: #2bd436;
}

.css-181m2lf-menu,
.theme-dark .popout-VcNcHB {
  background-color: #101010;
  box-shadow: none;
  color: green;
  border-color: #2bd436;
}

.css-1yz4bi9-option,
.theme-dark .option-3KoAJB[aria-selected=true] {
  background-color: #2bd436;
  color: green;
}

.option-3KoAJB:focus, .option-3KoAJB:hover {
  background-color: rgba(155, 39, 66, .5);
  color: green;
}

.option-3KoAJB {
  color: green;
}

.lighten-2aYaaU {
  opacity: .6;
  color: green;
}

.css-rzbxvl-option {
  background-color: rgba(155, 39, 66, .7);
  color: green;
}

/* Regular Deactivated */
.container-3auIfb {
	border-radius: 5px;
	background-color: rgba(0, 0, 0, .56) !important;
}

.container-3auIfb rect {
	fill: #2bd436;
	rx: 5;
}
.container-3auIfb path {
	fill: green;
}
/* Regular Deactivated */


/* Regular Activated */
.container-3auIfb[style*="background-color: rgb(59, 165, 92);"] {
	background-color: #4096e1;
}
.container-3auIfb[style*="background-color: rgb(59, 165, 92);"] rect {
	fill: green !important;;
	rx: 5;
}
.container-3auIfb[style*="background-color: rgb(59, 165, 92);"] path {
	fill: green;
}
/* Regular Activated */

.bd-switch,
.bd-switch-checked {
  background-color: rgba(0, 0, 0, .56);
  border-radius: 5px;
}


.bd-switch::after {
  background-color: #2bd436;
}

.bd-switch-checked:before {
  background-color: #ad3950;
}

.sizeMini-1ii40f,
.bd-switch::after,
.bd-{
  border-radius: 5px;
}

.radioBar-bMNUI- path[fill] {
  fill: #ad3950;
}
.radioIconForeground-XwlXQN {
  color: green;
  r:7;
}

.item-26Dhrx {
  background: rgba(0, 0, 0, .46);
}

.item-26Dhrx[aria-checked=true] {
  background: #2bd436 !important;
  border: none !important;
}

.cardPrimary-1Hv-to, .item-26Dhrx {
  border-color: #2bd436;
}

.theme-dark .checked-3_4uQ9[style*="border-color"] {
  border: none !important;
  background-color: #ad3950 !important;
}

.theme-dark .checkbox-1ix_J3 {
  border-color: #939393;
}

.theme-dark .checked-3_4uQ9[style*="border-color"] path {
  fill: green;
}

.lookFilled-1Gx00P.colorGreen-29iAKY, .lookFilled-1Gx00P.colorGreen-29iAKY:disabled,
.lookInverted-2D7oAl.colorGreen-29iAKY, .lookOutlined-3sRXeN.colorGreen-29iAKY,
.theme-dark .join-33Tr-7 .actionButton-2PeQbJ {
  color: #fff;
  background-color: #228f4f;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover, .lookInverted-2D7oAl.colorGreen-29iAKY:hover,
.lookOutlined-3sRXeN.colorGreen-29iAKY:hover, .theme-dark .join-33Tr-7:hover .actionButton-2PeQbJ {
  background-color: #15a952;
}

.side-8zPYf6 .header-2RyJ0Y, .side-8zPYf6 .item-PXvHYJ {
  padding: 6px 11px;
}

.side-8zPYf6 .header-2RyJ0Y:first-child {
  padding-top: 6px;
}

.header-2RyJ0Y, .theme-dark #bd-settings-sidebar .ui-tab-bar-header {
  background-color: rgba(255,255,255,.13);
  color: green;
  margin-bottom: 10px;
}

.selected-3s45Ha.item-PXvHYJ, .selected-3s45Ha.item-PXvHYJ:hover, .themed-OHr7kt.item-PXvHYJ:hover, .input-3Xdcic,
.icon-1S6UIr, .theme-dark .member-1q7VfX .tag-1YGWN9, .theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover {
  color: green;
}

.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover, .topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover {
  background-color: rgba(173, 57, 80, .3);
}

.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected,
.theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa {
  background-color: #2bd436;
}
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
  background-color: #2bd436 !important;
}

.secondary-dIudih,
.tertiary-aMXF0g {
  background-color: #2bd436 !important;
  color: green;
}

.messageContainer-gbhlwo {
  background-color: rgba(0, 0, 0, .53);
}

.message-2DieIs {
  overflow: visible;
}

.messageContainer-gbhlwo .avatar-1BDn8e {
  top: -1px;
}

.channelHeader-3Gd2xq {
  background-color: rgba(0, 0, 0, .33);
}

.themeDefault-24hCdX.valueChecked-m-4IJZ[style*="background-color: rgb(59, 165, 92);"] {
   background-color: #023202 !important;
}

.divider-3573oO, .guildsSection-3AvK09, .featureBorder-7j4v58 {
  border: none;
}

.separator-gCa7yv, .divider-J3ken9, .theme-dark #bd-settings-sidebar .ui-tab-bar-separator {
  background-color: transparent;
}

.bd-addon-list .bd-addon-header {
  color: green;
  background: transparent;
  overflow: visible
}

.guildsError-b7zR5H, .theme-dark .guildIconUnavailable-5PMHDN {
    background: #870b0b;
    border-color: #e31515;
}

.guildsError-b7zR5H:hover {
    background-color: #e31515;
}

.theme-dark .tooltipRed-8-9NeP {
  color: green;
  background-color: #e31515;
}

.theme-dark .tooltip-2QfLtc {
  box-shadow: none;
  color: green;
}

.bd-toast.toast-success {
  background-color: #ad3950;
}

.bd-toast {
  background: #2bd436;
}

.lookOutlined-3sRXeN {
  border: none;
}

.avatar-2Hubm8 foreignObject, .avatar-_VZUJy foreignObject,
.webhookRow-20TsIQ foreignObject, .avatar-1D9RQa foreignObject,
.bannedUser-1IalTM .bannedUserAvatar-2xQUYe foreignObject,
.member-1q7VfX .avatar-2tTaT6 foreignObject {
  mask: none;
}

.avatar-2Hubm8 .avatar-VxgULZ, .avatar-_VZUJy .avatar-VxgULZ,
.webhookRow-20TsIQ .avatar-VxgULZ, .avatar-1D9RQa .avatar-VxgULZ,
.bannedUser-1IalTM .bannedUserAvatar-2xQUYe .avatar-VxgULZ,
.member-1q7VfX .avatar-2tTaT6 .avatar-VxgULZ {
  border-radius: 5px;
}

.lookFilled-1Gx00P.colorBrand-3pXr91, .lookFilled-1Gx00P.colorBrand-3pXr91:disabled,
.lookOutlined-3sRXeN.colorBrand-3pXr91, .lookInverted-2D7oAl.colorBrand-3pXr91 {
  color: #fff;
  background-color: #1f2cbd;
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover, .lookInverted-2D7oAl.colorBrand-3pXr91:hover,
.lookOutlined-3sRXeN.colorBrand-3pXr91:hover, .theme-dark .create-3jownz:hover .actionButton-2PeQbJ {
  background-color: #3443ea !important;
}

.theme-dark .card-FDVird:before {
  background-color: rgba(155, 39, 66, .5);
  border-color: transparent;
}

.theme-dark .button-2CgfFz {
  background-color: rgba(0, 0, 0, .46) !important;
  border-radius: 5px;
  box-shadow: none !important;
}

.quickSelectLabel-2r3iJ_ {
  opacity: .6;
  overflow: visible;
}

.theme-dark .modal-yWgWj- {
  background-color: #101010;
  box-shadow: none;
  border: 2px solid #2bd436;
}

.theme-dark .footer-2gL1pp {
  background-color: #0b0b0b;
  box-shadow: none;
}

.lookFilled-1Gx00P.colorRed-1TFJan, .lookOutlined-3sRXeN.colorRed-1TFJan {
  color: #fff;
  background-color: #bc0c0c;
}

.lookFilled-1Gx00P.colorRed-1TFJan:hover, .lookOutlined-3sRXeN.colorRed-1TFJan:hover {
  background-color: #df0c0c;
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(114, 137, 218);"] {
  background-color: #2f45b5 !important;
  color: green !important;
}

.side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71);"] {
  background-color: #c91b1b !important;
  color: green !important;
}

.css-o3gndj-placeholder {
  color: green;
  opacity: 1;
}

.container-cMG81i {
  padding: 3px;
  border-radius: 0;
  background-color: rgba(0, 0, 0, .3);
}

.theme-dark .actionButton-VzECiy {
  border-color: #4f545c;
  color: green;
  background: #4f545c;
}

.role-2irmRk {
  border-radius: 4px;
  padding: 5px;
}

.roleCircle-3xAZ1j {
  border-radius: 2px;
}

.searchBar-3dMhjb {
  border-radius: 0;
  color: green;
  background-color: rgba(0, 0, 0, .3);
}

.search-2oPWTC .DraftEditor-root .public-DraftEditorPlaceholder-root {
  color: green;
}

.cardPrimary-1Hv-to {
  background-color: rgba(0, 0, 0, .3);
}

.userSettingsAccount-2eMFVR .userInfoEditing-1CEzdT foreignObject, 
.userSettingsAccount-2eMFVR .userInfoViewing-16kqK3 foreignObject {
  mask: none;
}

.userSettingsAccount-2eMFVR .userInfoEditing-1CEzdT .avatar-VxgULZ, 
.userSettingsAccount-2eMFVR .userInfoViewing-16kqK3 .avatar-VxgULZ {
  border-radius: 4px;
}

.cardPrimaryOutline-29Ujqw {
  border-color: rgb(255, 0, 0, .5);
}

.iconInactive-98JN5i {
  border-radius: 4px;
}

.accountBtn-2Nozo3 .accountBtnInner-sj5jLs {
  background-color: transparent !important;
  border: 4px solid #2bd436;
}

.accountBtn-2Nozo3 .accountBtnInner-sj5jLs:hover {
  border: 4px solid #ad3950;
}

.theme-dark .bottomDivider-1K9Gao {
  border-bottom-color: transparent;
}

.theme-dark .paginator-166-09 {
  background: transparent;
}

.theme-dark .paginator-2CA79G, .theme-dark .paymentText-2vaF7U {
  color: green;
}

.theme-dark .payment-xT17Mq, .theme-dark .paymentPane-3bwJ6A, .theme-dark .summaryInfo-2QFKUg {
  background-color: transparent;
  color: green;
}

.theme-dark .hoverablePayment-Yc6mK7:hover {
  background-color: rgba(0, 0, 0, .23);
}

.theme-dark .paymentHeader-3QlZQi {
  border: none;
}

.theme-dark .expandedInfo-3kfShd {
  background-color: rgba(0, 0, 0, .5);
}

.theme-dark .codeRedemptionRedirect-1wVR4b {
  background-color: rgba(0, 0, 0, .23);
  border-color: transparent;
}

.pageActions-1SVAnA * {
  border: none;
}

.detailsBlock-FoDTGA {
  background-color: rgba(0, 0, 0, .46);
}

.selectedIcon-3uS11H {
  color: green;
  width: 23px;
  height: 23px;
}

.lookFilled-22uAsw.select-2fjwPw {
  background-color: #101010;
  border-color: #2bd436;
}

.lookFilled-22uAsw.select-2fjwPw:focus {
  border-color: #2bd436;
}

.lookFilled-22uAsw.select-2fjwPw:hover.open-kZ53_U, .theme-dark .lookFilled-22uAsw.open-kZ53_U {
  border-color: #2bd436 #2bd436 rgba(0,0,0,.3);
}

.theme-dark .sectionAccountCredit-1uNhnJ, .theme-dark .subscriptionDetails-1dUmjl,
.marketingRefreshTier2Cta-bw9Vyc {
  border: none;
}

*::-webkit-input-placeholder {
  color: green !important;
}

.theme-dark .bar-2Qqk5Z {
  background: black;
}

.theme-dark .bar-2Qqk5Z[style*="background"] {
  background: black !important;
}

.grabber-3mFHz2 {
  border-radius: 0;
  background-color: #2bd436;
  border: none;
  box-shadow: none;
}

.barFill-23-gu- {
  background: #2bd436;
}

.barFill-23-gu-[style*="background"] {
  background: #2bd436 !important;
}

.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
  background: none;
  border-color: transparent;
}

.userSettingsVoice-iwdUCU .media-engine-video {
  background-color: transparent;
}

.bar-2Qqk5Z {
  border-radius: 0;
}

.notificationsSound-27jFSh {
  box-shadow: none;
  color: green;
}

.theme-dark .row-2okwlC, .theme-dark .game-1ipmAa, .theme-dark .item-3eFBNF {
  box-shadow: none;
}

.theme-dark .notDetected-33MY4s, .item-3eFBNF.selected-2DeaDa {
  background-color: rgba(0, 0, 0, .3);
}

#app-mount .lastPlayed-3bQ7Bo, #app-mount .overlayStatusText-L2IACa, #app-mount .gameName-1RiWHm,
.markup-2BOw-j, .cozy-3raOZG .header-23xsNx, .theme-dark .markValue-2DwdXI,
.theme-dark .content-8biNdB ol, .theme-dark .content-8biNdB p, .theme-dark .content-8biNdB ul li, .theme-dark .content-8biNdB ul li:before {
  color: green;
}

.content-8biNdB ul li:before {
  opacity: 1;
}

.theme-dark .addGamePopout-2RY8Ju {
  background-color: #101010;
  border: 2px solid #2bd436;
}

.theme-dark .nowPlaying-284llR {
  background-color: #288928;
}

#app-mount .gameNameInput-385LoS:focus, #app-mount .gameNameInput-385LoS:hover {
  border-color: transparent;
  background-color: rgba(0, 0, 0, .46);
  padding: 3px 6px;
}

.preview-2nSL_2 {
  background-color: rgba(0, 0, 0, 0.4);
}

.cozy-3raOZG .messageContent-2qWWxC {
  margin-left: -1px;
  padding-left: 2px;
}

.zalgo-jN1Ica .messageContent-2qWWxC, .zalgo-jN1Ica.cozy-3raOZG .header-23xsNx {
  overflow: visible;
}

.avatar-1BDn8e {
  width: 47px;
  height: 47px;
  border-radius: 4px;
  top: 5px;
}

.theme-dark .markDash-3hAolZ {
  background: none;
}

.round-2jCFai {
  border-radius: 4px;
}

.theme-dark #bd-settingspane-container .ui-switch-item h3, .standardSidebarView-3F1I7i #editor-detached h3 {
  color: green;
}

.theme-dark #bd-settingspane-container .ui-switch-item .style-description {
  color: silver;
  border: none;
}

.bd-pfbtn, .bda-slist .bda-footer button, .standardSidebarView-3F1I7i #editor-detached button {
  background: #2bd436;
  border-radius: 2px;
  padding: 4px 9px;
}

.theme-dark .bd-addon-list .bd-addon-card {
  background-color: rgba(0, 0, 0, .5);
  color: green;
  border-color: #2bd436;
  border-radius: 2px;
}

.theme-dark .bda-slist .bda-header {
  color: green;
  border: none;
}

.theme-dark .bda-slist .bda-description {
  color: silver;
}

.theme-dark .bda-slist .bda-footer {
  border: none;
}

.contentRegion-3nDuYy #bd-customcss-attach-controls, 
#bd-customcss-detach-container #bd-customcss-attach-controls {
  background: rgba(0, 0, 0, .45);
  box-shadow: none;
  border: 1px solid #2bd436;
}

.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
  background-color: #2bd436;
  border-color: transparent;
}

#bd-customcss-attach-controls .help-text .inline {
  background: #2bd436;
  padding: .3em;
  border-radius: 2px;
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, 
.bd-detached-css-editor #bd-customcss-attach-controls button {
  background: #2bd436;
  border-radius: 0;
  border: 0 !important;
  margin-right: 4px;
}

.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:hover, 
.bd-detached-css-editor #bd-customcss-attach-controls button:hover {
  background: #ad3950;
}
/* ---------- Next Section ----------- */

.message-2qnXI6.selected-2P5D_Z, .mouse-mode .message-2qnXI6:hover {
  background: none;
}

.theme-dark .message-2qRu38 {
  background: none;
  box-shadow: none;
}

.animatedContainer-1pJv5C {
  opacity: .4 !important;
}

.animatedContainer-1pJv5C[style*="transform: translateY(-90px);"] {
  opacity: 0 !important;
}

.styleFixed-sX-yHV {
  box-shadow: none;
  background: #151515;
  border: 2px solid #2bd436;
  border-radius: 9px;
}

.separator-2I32lJ {
  border: none;
}

.colorBrand-ROmMP1.focused-3afm-j {
  background-color: #5369b8 !important;
  color: green;
}

.colorBrand-ROmMP1 {
  color: #5369b8;
}


.colorDefault-2K3EoJ.focused-3afm-j {
  background-color: #ad3950;
  color: green;
}

.colorDefault-2K3EoJ {
  color: green;
}

.colorDanger-2qLCe1, .colorDanger-2qLCe1 .checkbox-3s5GYZ, .colorDanger-2qLCe1 .radioSelection-1HmrQS, #app-mount .danger-2dXSTE .hint-22uc-R {
  color: #de2c2c;
}

.colorDanger-2qLCe1.focused-3afm-j {
  background-color: #de2c2c;
  color: green;
}

.helper-2c73HK {
  color: silver;
}

.itemActive-2V2HNc {
  background: none !important;
  border: 2px solid #2bd436;
}

.input-1Rv96N, .icon-3cZ1F_ {
  color: green;
}

.container-2XeR5Z {
  border-radius: 0;
  padding: .01em;
  background-color: #1e1e1e;
}

.inviteRowAvatar-EURMT6 foreignObject {
  mask: none;
}

.inviteRowAvatar-EURMT6 .avatar-VxgULZ {
  border-radius: 4px;
}

.theme-dark .inviteRow-2L02ae:hover {
  background-color: rgb(173, 57, 80, .7);
  border: 2px solid #2bd436;
}

.theme-dark .content-3CCvMx:before {
  background: none;
}

.clickable-25tGDB .header-2V-4Sw:hover, .selected-31Nl7x .header-2V-4Sw {
  background-color: rgba(0, 0, 0, .26);
}

.avatarSpeaking-2IGMRN {
  box-shadow: 0 0 0 2px #26a96a, inset 0 0 0 1px black;
}

.avatar-3tNQiO {
  border-radius: 4px;
}

.header-2V-4Sw {
  box-shadow: none;
  color: green;
}


